spring:
  application:
    name: inventory-service

eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/

server:
  port: 8080

management:
  metrics:
    tags:
      service: "inventory-service"
      env: "local"
    distribution:
      percentiles:
        http.server.requests: 0.5, 0.9, 0.95, 0.99
      percentiles-histogram:
        http.server.requests: true

  observations:
    http:
      server:
        requests:
          histogram: true

  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"

  endpoint:
    prometheus:
      enabled: true
    health:
      probes:
        enabled: true
