management:
  metrics:
    tags:
      service: "auth-service"
      env: "local"

    distribution:
      # Map<String, double[]>
      percentiles:
        http.server.requests: 0.5, 0.9, 0.95, 0.99

      # Map<String, boolean>
      percentiles-histogram:
        http.server.requests: true

  observations:
    http:
      server:
        requests:
          histogram: true

  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"

  endpoint:
    prometheus:
      enabled: true
    health:
      probes:
        enabled: true
