spring:
  application:
    name: order-service

  kafka:
    bootstrap-servers: kafka:9092

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

    properties:
      spring.json.add.type.headers: false
      spring.json.value.default.type: com.shop.order.events.OrderCreatedEvent

eureka:
  client:
    service-url:
      defaultZone: http://discovery:8761/eureka/

server:
  port: 8080

management:
  metrics:
    tags:
      service: "order-service"
      env: "local"
    distribution:
      percentiles:
        http.server.requests: 0.5, 0.9, 0.95, 0.99
      percentiles-histogram:
        http.server.requests: true

  observations:
    http:
      server:
        requests:
          histogram: true

  endpoints:
    web:
      exposure:
        include: "health,info,prometheus"

  endpoint:
    prometheus:
      enabled: true
    health:
      probes:
        enabled: true
