global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s
  external_labels:
    env: "local"

rule_files:
  - "alert-rules.yml"

scrape_configs:

  # ============================
  # MICROSERVICES (Spring Boot)
  # ============================
  - job_name: "services"
    metrics_path: /actuator/prometheus
    static_configs:
      - targets:
          - api-gateway:8080
          - auth-service:8080
          - catalog-service:8080
          - cart-service:8080
          - order-service:8080
          - payment-service:8080
          - inventory-service:8080
        labels:
          group: "backend"

    metric_relabel_configs:
      # КРИТИЧНО:
      # НЕ УДАЛЯЕМ id / uri / method
      # иначе ломаются JVM, GC и HTTP histograms

      # выкидываем только реально мусорные high-cardinality лейблы
      - action: labeldrop
        regex: "exception|stacktrace"

      # нормализуем instance -> service
      - source_labels: [__address__]
        target_label: service
        regex: "([^:]+):.*"
        replacement: "$1"

  # ============================
  # NODE EXPORTER (HOST METRICS)
  # ============================
  - job_name: "node-exporter"
    static_configs:
      - targets:
          - "192.168.120.50:9100"
        labels:
          group: "host"

  # ============================
  # CADVISOR (CONTAINER METRICS)
  # ============================
  - job_name: "cadvisor"
    static_configs:
      - targets:
          - cadvisor:8080
        labels:
          group: "container"
